.container6 {
    height: 23.1rem;
    background-color: rgb(24, 24, 24);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-column {
    margin: 10px;
  }
  
  ul {
    list-style-type: none;
  }
  
  h4 {
    color: white;
    display: flex;
    justify-content: center;
  }
  
  a {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    text-decoration: none;
    color: white;
  }
  
  li {
    display: flex;
    justify-content: center; 
    margin-right: 30px;
    a{
      margin-right: 5px;
      border-radius: 30px;
    }
  }
  .footer-row {
    position: relative;
  }
  
  .footer-row::after {
    content: "";
    width: 80%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left:180px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .ai-content,
  .content2,
  .content3 {
    width: 30%;
    text-align: center;
    color: white;
  }
  
  
  
  
  
  