@import url("https://fonts.googleapis.com/css?family=Alex+Brush|Merienda");

body {
  margin: 0;
  padding: 0;
}

.card-wrapper {
  overflow: hidden;
  display: block;
  height: 678px;
  position: relative;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .input-group {
    justify-content: center;
    height: 25px;
    width: 650px;
    margin: auto;
    margin-top: 200px;
  }

  .welcome {
    font-family: Merienda;
    font-size: 3em;
    color: #fff;
    display: block;
  }

  h1 {
    font-family: "Alex Brush";
    color: #fff;
    font-size: 5em;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.card__bg__image {
  height: calc(100% + 30px);
  width: calc(100% + 30px);
  -webkit-animation: card-shift 12s ease-in-out infinite;
  animation: card-shift 12s ease-in-out infinite;
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: black;
}

nav {
  z-index: 1000; /* Ensure the navigation is above other elements */
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: rgb(24, 24, 24);
  padding: 12px 20px;
}

.logo img {
  width: 40px;
}

.menu {
  display: flex;
}

.menu li {
  padding-left: 30px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu,
.close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

@media (max-width: 610px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100; /* Ensure the mobile menu is above other elements */
    background-color: var(--color2);
    transition: all 0.2s ease-in-out;
  }

  .menu li {
    margin-top: 40px;
  }

  .menu li a {
    padding: 10px;
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked ~ .menu {
    right: 0;
  }
}
.container6 {
  height: 20rem;
  background-color: rgb(24, 24, 24);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-column {
  margin: 10px;
}

ul {
  list-style-type: none;
}

h4 {
  color: white;
  display: flex;
  justify-content: center;
}

a {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  text-decoration: none;
  color: white;
}

li {
  display: flex;
  justify-content: center; 
  margin-right: 30px;
  a{
    margin-right: 5px;
    border-radius: 30px;
  }
}
.footer-row {
  position: relative;
}

.footer-row::after {
  content: "";
  width: 80%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left:180px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.ai-content,
.content2,
.content3 {
  width: 30%;
  text-align: center;
  color: white;
}
