<div class="body">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
    <mat-card class="auth">
      <mat-card-content class="auth-card">
        <form>
          <div class="form-group">
            <label for="name">Name: </label>
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="Name"
            />
          </div>
          <div class="form-group">
            <label for="email">Email: </label>
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <label for="city">City: </label>
            <input
              type="text"
              name="city"
              class="form-control"
              placeholder="City"
            />
          </div>
          <div class="form-group">
            <label for="password">Password: </label>
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="********"
            />
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password: </label>
            <input
              type="password"
              name="confirmPassword"
              class="form-control"
              placeholder="********"
            />
          </div>
          <div class="form-group">
            <label for="musician">Are you a musician?</label>
            <input type="checkbox" name="musician" />
          </div>
          
          <mat-card-actions>
            <button type="button" class="btn btn-dark" (click)="sendPostRequest()">Sign Up</button>
          </mat-card-actions>
          

          <div class="text-center login">
            Already have an account? <a [routerLink]="'/login'">Login</a> here.
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
