<div class="background">
    
</div>
<form [formGroup]="signupForm">
      <h3>Sign Up</h3>
      <label for="name">Name: </label>
      <input type="text" formControlName="name" class="form-control" placeholder="Name" />

      <label for="email">Email: </label>
      <input type="email" formControlName="email" class="form-control" placeholder="Email" />
      <div *ngIf="getErrorMessage('email')" class="text-danger">{{ getErrorMessage('email') }}</div>

      <label for="city">City: </label>
      <input type="text" formControlName="city" class="form-control" placeholder="City" />

      <label for="password">Password: </label>
      <input type="password" formControlName="password" class="form-control" placeholder="********" />

      <label for="confirmPassword">Confirm Password: </label>
      <input type="password" formControlName="confirmPassword" class="form-control" placeholder="********" />
      <div *ngIf="signupError" class="text-danger">{{ signupError }}</div>

      <mat-card-actions>
        <button type="button"  (click)="sendPostRequestMusician()">Sign Up for Musician</button>
        <button type="button"  (click)="sendPostRequest()">Sign Up for User</button>
      </mat-card-actions>
  </form>
