body {
  background-color: #f0f2f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 800px;
}

.header {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.chat-messages[_ngcontent-ng-c4137396122] {
  width: 100%;
  /* max-width: 800px; */
  /* background: #ffffff; */
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 30px;
  max-height: 60vh;
  overflow-y: auto;
}

.list-group-item{
  background: #e9eff5;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #5e9cf7;
}

.list-group-item:last-child {
  border-bottom: none;
}

.input-group .form-control {
  border-radius: 8px;
}

.btn {
  background-color: #0088cc;
  border: none;
  color: #ffffff;
  border-radius: 8px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.35rem .50rem;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 15px;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.scrollarea{
  min-height: 350px;
}

.card__bg__image {
  height: calc(100% + 30px);
  width: calc(100% + 30px);
  -webkit-animation: card-shift 12s ease-in-out infinite;
  animation: card-shift 12s ease-in-out infinite;
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-white {
  --bs-bg-opacity: 1;
  background-color: #ffffff !important;
  height: 120px;
  border-radius: 5px;
  margin-top: 15px;
}
