<div class="container">
  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
    <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
      <!-- Display the username instead of allowing input -->
      <input class="fs-5 fw-semibold" [value]="username" readonly />
    </div>
    <form (ngSubmit)="submit($event)" class="d-flex">
      <input class="form-control me-2" placeholder="Write a message" [(ngModel)]="message" name="message" />
      <button class="btn btn-primary" type="submit">Send</button>
    </form>
  </div>
  <div class="chat-messages list-group list-group-flush border-top scrollarea">
    <div class="list-group-item list-group-item-action py-3 lh-tight" *ngFor="let msg of messages">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">{{ msg.username }}</strong>
        <small>{{ msg.timestamp | date:'short' }}</small> <!-- Display the timestamp -->
      </div>
      <div class="col-10 mb-1 small">{{ msg.message }}</div>
    </div>
  </div>
</div>
