@import url("https://fonts.googleapis.com/css?family=Alex+Brush|Merienda");
.card-wrapper {
  overflow: hidden;
  display: block;
  height: 680px;
  position: relative;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .input-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    column-gap: 2rem;
    width: 650px;
  }
  .form-control {
    border-radius: 5px;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }
  h1 {
    font-family: "Alex Brush";
    color: #fff;
    font-size: 5em;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.card__bg__image {
  height: calc(100% + 30px);
  width: calc(100% + 30px);
  -webkit-animation: card-shift 12s ease-in-out infinite;
  animation: card-shift 12s ease-in-out infinite;
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  background-color: black;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: rgb(24, 24, 24);
  padding: 12px 20px;
}
.logo img {
  width: 40px;
}
.menu {
  display: flex;
}
.menu li {
  padding-left: 30px;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
  width: 100%;
}
.open-menu,
.close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}
@media (max-width: 610px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color2);
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
}

.container {
  width: 1000px;
  height: 200px;
  margin-top: 40px;
  text-align: center;
}
.container2 {
  width: 600px;
  height: 120px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
.container3 {
  height: 125rem;
  background-color: rgb(24, 24, 24);
  text-align: center; 
  padding: 20px; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  
  h2 {
    color: white;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px; 
  }
  p {
    color: white;
    max-width: 800px; 
  }
  
}

.container4 {
  width: 800px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  h3 {
    color: rgb(218, 170, 13);
    font-size:25px;
    text-decoration: underline;
    margin: 10px;
  }
}


.container5 {
  flex-direction: row;
  background-color: white;
  width: 245px;
  height: 300px;
  margin: 10px;
  border-radius: 6px;

  a {
    display: block;
    color: rgb(35, 88, 121);
    max-width: 600px;
    text-decoration: none;
    margin: auto;
    margin-top: 5px;
  }

  h1 {
    max-width: 200px;
    font-size: smaller;
    margin: auto;
    margin-top: 5px;
  }

  img {
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
  }

  img:hover {
    transform: scale(1.1);
  }
}

.container6 {
  height: 20rem;
  background-color: rgb(24, 24, 24);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-column {
  margin: 10px;
}

ul {
  list-style-type: none;
}

h4 {
  color: white;
  display: flex;
  justify-content: center;
}

a {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  text-decoration: none;
  color: white;
}

li {
  display: flex;
  justify-content: center; 
  margin-right: 30px;
  a{
    margin-right: 5px;
    border-radius: 30px;
  }
}
.footer-row {
  position: relative;
}

.footer-row::after {
  content: "";
  width: 80%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left:180px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.ai-content,
.content2,
.content3 {
  width: 30%;
  text-align: center;
  color: white;
}





