<div class="card-wrapper">
  <h1>Hire musicians for your business.</h1>
  <div class="input-group mb-1">
    <input
      type="text"
      class="form-control"
      placeholder="Try 'Bass Guitarist' or 'I need a piano tutor in Izmir' "
    />
    <button class="btn btn-primary" type="submit">Search</button>
  </div>

  <div class="card__bg__image">
    <img alt="" src="https://i.ibb.co/tJCY9YB/background.jpg" />
  </div>
</div>
<div class="container">
  <h1>Hire musicians for your events. Find the best.</h1>
  <p>
    Welcome to Ritim's, your one-stop shop for all your musical needs. Planning
    an event? We've made it simple for you to hire musicians and book local
    talents that'll hit the right note at any gathering. Or perhaps you're keen
    on learning an instrument? Our top-notch music tutors are ready to help
    guide your musical journey. Whatever your melody, Ritim's is here to ensure
    it plays out perfectly. Start exploring now and let us orchestrate your
    unforgettable musical experience. Rent musician services now!
  </p>
</div>

<div class="container2">
  <h2>Are you a Musician ? Looking For Jobs ?</h2>
  <button type="button" class="btn btn-dark" [routerLink]="'/signup'">
    Sign up a Musician
  </button>
</div>

<div class="container3">
  <h2>Music Service Types</h2>
  <p>
    Navigate through our extensive range of music service types to find the
    ideal match for your requirements. Whether you're in pursuit of mesmerizing
    live performances, enriching music lessons, or state-of-the-art recording
    sessions, our platform simplifies your search. Delve in and explore the vast
    services our skilled musicians have on offer.
  </p>
  <div class="container4">
    <div *ngFor="let type of musicServiceTypes" class="container5">
      <img [src]="type.image" width="225" height="200" />
      <a [routerLink]="'/musicians'">{{ type.name }}</a>
      <h1>{{ type.description }}</h1>
    </div>
  </div>

  <h2>Instrumentalists</h2>
  <p>
    Elevate your event's ambiance by selecting musicians according to the
    instruments they master. From the melodious strumming of a guitar to the
    powerful notes of a trumpet, our platform empowers you to pinpoint the
    precise musical tones you desire. Browse and connect with instrumentalists
    that perfectly resonate with your event's theme.
  </p>
  <div class="container4">
    <div *ngFor="let type of instrumentalists" class="container5">
      <img [src]="type.image" width="225" height="200" />
      <a [routerLink]="'/musicians'">{{ type.name }}</a>
      <h1>{{ type.description }}</h1>
    </div>

    <h2>A wide selection of genres</h2>
    <p>
      Embrace the diversity of music with our expansive genre selection. Whether
      you're captivated by the timeless allure of jazz, the pulsating rhythms of
      rock, or the soulful melodies of blues, our platform is your gateway to it
      all. "All genres. All musicians." is not just our motto—it's our promise.
      Explore and connect with musicians who resonate with your preferred
      musical genre, ensuring an unforgettable auditory experience for your
      event.
    </p>
  </div>
</div>
